@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --font-primary: 'Montserrat', sans-serif;

    --font-logo: 'Kantumruy Pro', sans-serif;

    --color-brand-primary: #634AFF;

    --color-brand-hover: #4326d1;

    --color-brand-secondary: #EBEBEB59;

    --color-brand-tierty: #EBEBEBC1;

}

html {
    @apply font-primary;
}

.input {
    @apply w-full border rounded px-3 py-2;
}


