@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@import 'tailwindcss';

@theme {
    --font-primary: 'Inter', sans-serif;

    --color-brand-primary: #634AFF;

    --color-brand-secondary: rgba(235, 235, 235, 0.35);


    --color-brand-tierty: rgba(235, 235, 235, 0.76);

}

html {
    @apply font-primary;
}

.input {
    @apply w-full border rounded px-3 py-2;
}
